$color1: #e4e4e4;
$color2: #e4e4e4;
$color3: #717171;
$color4: #f7f7f7;
$color5: #dddddd;
$color6: #222222;
$color7: #ebebeb;
$color8: #484848;
$color9: #ebebeb;
$color10: rgb(235, 235, 235);
$color11: #b0b0b0;
